/* styles.css */

/* Base styles for the body and html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Styles for the swirling background */
body {
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #3b32a5, #3b32a5, #00c652, #00c652, #3b32a5, #3b32a5);
    background-size: 500% 500%;
    -webkit-animation: swirl 15s linear infinite;
    animation: swirl 15s linear infinite;
}


@-webkit-keyframes swirl {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes swirl {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Styles for the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Styles for the content container */
.content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.login-container {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    z-index: 3;
}

/* Styles for the logo container */
.logo-container {
    flex: 0 0 auto; /* Prevent the logo container from stretching */
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Align the logo to the top of the container */
}

/* Styles for the logo image */
.logo-container .logo img {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

/* Styles for the login form */
.login-form {
    flex: 1 1 auto; /* Let the form take the remaining space */
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
}

.login-form button {
    padding: 12.5px;
    margin-top: 20px;
    background-color: #3b32a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.login-form button:hover {
    background-color: #00c652;
}