body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16;
    line-height: 1.6;
    color: #000;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}

main.dashboard-screen {
    flex: 1;
    max-width: 100%;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: max(calc((100vw - 1190px) / 2), 10px);
    padding-right: max(calc((100vw - 1190px) / 2), 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    background: linear-gradient(90deg, #3b32a5, #3b32a5, #00c652);
}

nav .navbar-logo {
    display: flex;
    align-items: center;
}

nav img.logo {
    width: 150px;
    height: auto;
    display: block;
    cursor: pointer;
    z-index: 99;
}

nav img.icon {
    width: 36px;
    height: auto;
    display: block;
    cursor: pointer;
    z-index: 99;
}

nav img.account-menu-icon {
    width: 24px;
    height: auto;
    display: block;
    z-index: 99;
}

nav .navbar-list {
    display: flex;
    align-items: center;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul.navbar li {
    margin-left: 10px;
    margin-right: 10px;
}

nav .navbar-list ul li {
    position: relative;
}

nav ul.navbar li a {
    color: #fff;
    text-decoration: none;
    ;
}

nav ul.account-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 150px;
    margin-top: 25px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul.account-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav ul.account-menu li:last-child {
    border-top: 1px solid #ccc;
}

nav ul.account-menu li a {
    display: block;
    color: #3b32a5;
    text-decoration: none;
    padding: 10px;
}

/* Sidebar*/

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 40px;
    width: 0;
    background-color: #3b32a5;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
    z-index: 98;
}

aside.active {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 97;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Add the transition for the opacity property */
}

.overlay.active {
    display: block;
    opacity: 1;
}

aside ul.sidebar {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 0;
    flex-direction: column;
}

aside ul.sidebar li {
    padding: 10px;
}

aside ul.sidebar li img.sidebar-menu-icon {
    margin-right: 10px;
    width: 12px;
}

aside ul.sidebar li a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
}

aside ul.sidebar li:last-child {
    border-top: 0.75px solid #fff;
}

/* Footer */
footer {
    position: relative;
    background: linear-gradient(90deg, #3b32a5, #3b32a5, #00c652);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: max(calc((100vw - 1190px) / 2), 10px);
    padding-right: max(calc((100vw - 1190px) / 2), 10px);
    text-decoration: none;
    flex-shrink: 0;
}

footer p {
    color: #fff;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.75rem;
}

/* home.css */

header.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
}

header.hero .hero-image {
    position: relative;
    display: flex;
}

header.hero .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

/* Dark overlay to improve text readability */
header.hero .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

header.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center the hero content horizontally */
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.hero .hero-content .hero-icon {
    display: flex;
    margin-right: 25px;
}

header.hero .hero-content .hero-icon img {
    height: 150px;
}

header.hero .hero-content .hero-text {
    text-align: left;
    display: block;
    margin: 0;
}

header.hero .hero-content .hero-text h1,
header.hero .hero-content .hero-text h2 {
    margin: inherit;
}

header.hero .hero-content .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

header.hero .hero-content .hero-text h2 {
    font-size: 1.5rem;
}

/* Article Section */

article.home {
    padding-left: 25px;
    padding-right: 25px;
}

article.home h1 {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #342c91;
    border-bottom: 1.75px solid #342c91;
}

