/* loading.css */
body, html {
    height: 100%;
    margin: 0;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 1;
}

.logo-container {
    max-width: 25%;
    max-height: 25%;
}

.logo-container img {
    width: 100%;
    height: auto;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loading-container {
    animation: fadeOut 3s ease-out forwards;
}