/* Reset and Global Styles */
body {
    border: 0;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #3b32a5, #00c652);
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    z-index: 100;
}

nav img {
    max-width: 125px;
    height: auto;
    float: left;
    display: block;
    margin: 0;
    margin-right: 5px;
}

nav .navbar-divider {
    width: 0.5px;
    height: 50px;
    background-color: #756fc0;
    margin: 0 10px;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    float: left;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: auto;
    margin-right: 0;
}

nav li:first-child {
    margin-left: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

nav li.active {
    background-color: rgba(0, 0, 0, 0.2);
}

nav a {
    display: block;
    padding: 25px 15px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

/* Footer */
footer {
    background: linear-gradient(135deg, #3b32a5, #00c652);
    color: #fff;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.75rem;
    padding: 15px 15px;
    text-decoration: none;
}

.footer-separator {
    width: 100%;
    height: 0.5px;
    background-color: #756fc0;
    bottom: 0;
}

/* Hero Section */

header.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
}

header.hero .hero-image {
    position: relative;
}

header.hero .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

/* Dark overlay to improve text readability */
header.hero .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

header.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center the hero content horizontally */
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    display: flex;
    /* Use flex to align icon and text side by side */
    align-items: center;
    /* Center items vertically */
}

header.hero .hero-content .hero-icon img {
    width: 125px; /* Adjust the icon width as needed */
    height: auto;
    padding-top: 15px;
    margin-right: 30px;
  }

header.hero .hero-content .hero-text {
    text-align: left;
}

/* Style the text elements (e.g., h1 and p) inside the hero text container as needed */
header.hero .hero-content .hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

header.hero .hero-content .hero-text h2 {
    font-size: 24px;
}

/* Article Section */

article.home {
    padding-left: 25px;
    padding-right: 25px;
}

article.home h1 {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #342c91;
    border-bottom: 1.75px solid #342c91;
}

/* Media Query for Parallax Effect */
@media (min-width: 768px) {}

@media (max-width: 767px) {}