/* Project Level*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #3b32a5, #3b32a5, #00c652);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    z-index: 100; 
}

nav a {
    outline: none;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav img.logo {
    max-width: 225px;
    height: auto;
    float: left;
    display: block; 
    margin: 0;
    margin-right: 5px;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    float: left;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: auto;
    margin-right: 0;
}

nav li:first-child {
    margin-left: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 25px 15px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #342c91;
  }

.nav-item.active a {
    background-color: #342c91;
}

.nav-separator {
    width: 0.5px;
    height: 50px;
    background-color: #756fc0;
    margin: 0 10px;
  }

body {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 70px;
}

footer {
    background-color: #3b32a5;
    color: #fff;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 20px 15px;
}

.footer-separator {
    width: 100%;
    height: 0.5px;
    background-color: #756fc0;
    bottom: 0;
  }

/* Home */

.hero-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
}

.hero-image-container img {
    width: 100%;
    max-height: 50%;
    opacity: 1;
}

.hero-text-container {
    position: fixed;    
    top: 75px;
    left: 50px;
    z-index: 1;
    color: white;
    text-align: left; /* Align the text to the left */
    padding: 20px;
}

