<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Kalahi-CIDSS | Home{% endblock %}

{% block content %}
<!-- Include the Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
<div id="projects-graph" ></div>
<div id="fp-graph"></div>
<div id="cr-graph"></div>
<div id="tf-graph"></div>
<div id="prov-graph"></div>
<div id="catproj-graph"></div>
<div id="projtrend-graph"></div>

    

    <iframe src="http://localhost:8501/" name="iframe_a" height="800px" width="100%" title="Iframe Example"></iframe>
    
</body>
{% endblock %}