<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Kalahi-CIDSS | Home{% endblock %}

{% block content %}
<!-- Include the Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
<div id="projects-graph" ></div>
<div id="fp-graph"></div>
<div id="cr-graph"></div>

    <script>
        var projects = JSON.parse('{{ projects_graph_json|safe }}');
        Plotly.newPlot('projects-graph', projects.data, projects.layout);

        var finished_projects = JSON.parse('{{ fp_graph_json|safe }}');
        Plotly.newPlot('fp-graph', finished_projects.data, finished_projects.layout);

        var completion_rate = JSON.parse('{{ cr_graph_json|safe }}');
        Plotly.newPlot('cr-graph', completion_rate.data, completion_rate.layout);
    </script>
    
</body>
{% endblock %}