<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <!---->

        <nav id="navbar">
            <img id="desktop-logo" src="{% static 'images/dswd_logo.png' %}" alt="KALAHI-CIDSS Logo">

            <div class="navbar-divider" id="navbar-divider-desktop"></div>
            <div>
                <ul>
                    <li {% if active_page == 'home' %}class='active'{% endif %}>
                        <a href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li {% if active_page == 'dashboard' %}class='active'{% endif %}">
                        <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                    </li>
                    <li><a href="{% url 'home:home' %}">Tables</a></li>
                    <li><a href="{% url 'home:home' %}">About</a></li>
                </ul>
            </div>
        </nav>





        <!--
    <div id="mobile-navbar">
    <nav class="navbar-mobile">
        <div>
            <img class="logo" src="{% static 'images/kalahi_cidss_logo.png' %}" alt="KALAHI-CIDSS Logo" onclick="toggleSidebar()">
        </div>


        <div id="mobile-sidebar">
            <aside>

            </aside>
        </div>

    </nav>
    -->

        {% block content %}{% endblock %}

        <footer>
            <div class="footer-separator"></div>
            <p>&copy; 2023 DSWD FO XI</p>
        </footer>
    </div>
</body>
<script src="{% static 'javascript/script.js' %}"></script>

</html>