<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Kalahi-CIDSS | Home{% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-image">
        <img src="{% static 'images/home/davao_skyline.png' %}" alt="Davao Skyline">
        <div class="dark-overlay"></div>
    </div>
    <div class="hero-content">
        <div class="hero-icon">
            <img src="{% static 'images/home/kalahi_cidss.png' %}" alt="KALAHI-CIDSS Icon">
        </div>
        <div class="hero-text">
            <h1>KALAHI-CIDSS</h1>
            <h2>Regional Data Analytics and Reporting</h2>
        </div>
    </div>
</header>
<article class="home">
    <h1>About</h1>
    <p>
        Kalahi-CIDSS, otherwise known as the Kapit-Bisig Laban sa Kahirapan-Comprehensive and Integrated Delivery of
        Social Services, is one of the poverty alleviation programs of the Philippine Government being implemented by
        the Department of Social Welfare and Development (DSWD). It uses the community-driven development (CDD)
        approach, a globally recognized strategy for achieving service delivery, poverty reduction, and good governance
        outcomes.
    </p>
    <p>
        &#8226; Helps communities in poor municipalities identify challenges around reducing poverty and make informed
        decisions on a range of locally identified options for development, including how this is made and in what form;
    </p>
    <p>
        &#8226; Gives control of resources to address local poverty to communities; and
    </p>
    <p>
        &#8226; Builds the capacity of both state (including local governments) and civil society stakeholders to
        provide assistance and respond to calls for support from poor communities as they implement development
        initiatives.
    </p>
</article>
{% endblock %}